name: Deploy to VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Next.js App
        run: npm run build

      - name: Upload build + project to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/home/souqza/app"
          rm: false
          port: ${{ secrets.SSH_PORT }}


      - name: Deploy and Restart Application
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /root/main/app
            
            # 1. Install production dependencies
            npm install --omit=dev
            
            # 2. Apply new migrations to the production database
            # This uses the connection string defined in the server's .env file
            npx prisma generate
            npx prisma migrate deploy 
            
            # 3. Restart the application using PM2
            pm2 restart next-app || pm2 start npm --name "next-app" -- start