name: Deploy to VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload project to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/home/souqza/app"
          rm: false
          port: ${{ secrets.SSH_PORT }}

      - name: Build & Deploy on Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/souqza/app

            # 1. Install dependencies (production only)
            npm install --omit=dev

            # 2. Build the Next.js app (uses .env on server)
            npm run build

            # 3. Generate Prisma client & apply migrations
            npx prisma generate
            npx prisma migrate deploy

            # 4. Restart the app with PM2
            pm2 restart next-app || pm2 start npm --name "next-app" -- start
